.dropzone .dz-preview.document-file-preview{
  width: 100%;
}

.document-dropzone{
  .dz-default.dz-message{
    text-align: center;
  }
  &.dz-drag-hover{
    border-style: solid;
    opacity: 0.8;
  }
}