{% macro renderChoiceType(service) %}
    {%  set serviceModel = service.vars.serviceModel %}
    <tr class="order-service choice-type">
        <td class="service">
            {{ form_row(service) }}
        </td>
        <td class="condition">
            {% for serviceOption in service.vars.serviceModel.options %}
                {% if serviceOption.condition %}
                    <span class="hide" data-cindition-value="{{ serviceOption.condition.value  }}" data-service-value="{{ serviceOption.id }}">
                        {{ serviceOption.condition.name }}
                        {% if serviceOption.condition.value %}
                            {{ serviceOption.condition.type.shortName }}
                        {% endif %}
                    </span>
                {% endif %}
            {% endfor %}
        </td>
        <td class="reward">

            {% for serviceOption in service.vars.serviceModel.options %}
                {% set actualRewardModel = serviceOption.actualRewardModel(service.vars.user) %}
                {% if actualRewardModel %}
                    <span class="hide" data-reward-value="{{ actualRewardModel.value }}" data-service-value="{{ serviceOption.id }}">
                        {{ actualRewardModel.name }}
                        {% if actualRewardModel.value %}
                            {{ actualRewardModel.type.shortName }}
                        {% endif %}
                    </span>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endmacro %}

{% macro renderType(service) %}
    {% import '@NssOrder/Macro/service_types.html.twig' as types %}
    {%  set serviceModel = service.vars.serviceModel %}

    {% if serviceModel.formType.formType.code == 'Symfony\\Component\\Form\\Extension\\Core\\Type\\ChoiceType' %}
        {{ types.renderChoiceType(service) }}
    {% endif %}
{% endmacro %}

{% macro renderJS() %}
    <script>
        $(document).ready(function () {
            var choiceTypeCollection = $('.order-service.choice-type');

            $(choiceTypeCollection).each(function(){
                var choiceType = $(this);
                $('select', choiceType).change(function () {
                    renderChoiceType(choiceType)
                });
            });

            renderChoiceType(choiceTypeCollection)
        });

        function renderChoiceType($choiceTypeCollection) {
            $choiceTypeCollection.each(function(){
                var context = $(this);
                var value = $('select', context).val();

                $('[data-service-value]', context).addClass('hide');
                $('[data-service-value="' + value + '"]', context).removeClass('hide');
            });
        }
    </script>
{% endmacro %}