{% extends '@NssApp/simplePageLayout.html.twig' %}

{% block tabs %}
    {% include '@NssOrder/Includes/tabs.html.twig' %}
    <br>
{% endblock %}

{% block tools %}
    {% include '@NssOrder/Index/indexButtons.html.twig' with {
    row: order
    }%}
{% endblock %}

{% block content %} 
    {% for document in documents %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ document.template.name }}
            </div>
            <div class="panel-body">
                {% for version in document.versions %}
                    <div class="well">
                        <p class="h5">
                           Дата создания {{ version.createdAtDateTimeString }}
                        </p>
                        {% if version.comment %}
                            <p>
                                {{ version.comment }}
                            </p>
                        {% endif %}

                        <ul>
                            {% for file in version.files %}
                                <li><a href="{{ path('order_document_download', {
                                        orderId: order.id,
                                        versionId: version.id,
                                        fileId: file.id,
                                        type: type
                                    }) }}">{{ file.clientOriginalName }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets "@NssOrderBundle/Resources/less/style.less" %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}