
{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}
{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block sonata_tab_content %}
    {% set has_tab = ((admin.formtabs|length == 1 and admin.formtabs|keys[0] != 'default') or admin.formtabs|length > 1 ) %}

    <div class="col-md-12">
        {% if has_tab %}
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" role="tablist">
                    {% for name, form_tab in admin.formtabs %}
                        <li{% if loop.index == 1 %} class="active"{% endif %}><a href="#tab_{{ admin.uniqid }}_{{ loop.index }}" data-toggle="tab"><i class="fa fa-exclamation-circle has-errors hide" aria-hidden="true"></i> {{ form_tab.label|trans({}, form_tab.translation_domain ?: admin.translationDomain) }}</a></li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    <div class="h4">Информация о заявлении</div>
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>СРО</th>
                                <td>{{ object.sro.name }} ({{ object.sro.registrationNumber }})</td>
                                <th>Шаблон</th>
                                <td>
                                    <a href="{{ path('admin_nss_order_model_templateordermodel_edit', {id: object.template.id}) }}">{{ object.template.title }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th>Тип</th>
                                <td>{{ object.template.type.name }}</td>
                                <th></th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    {% for code, form_tab in admin.formtabs %}
                        <div class="tab-pane fade{% if loop.first %} in active{% endif %}" id="tab_{{ admin.uniqid }}_{{ loop.index }}">
                            <div class="box-body  container-fluid">
                                <div class="sonata-ba-collapsed-fields">
                                    {% if form_tab.description != false %}
                                        <p>{{ form_tab.description|raw }}</p>
                                    {% endif %}

                                    {{ form_helper.render_groups(admin, form, form_tab['groups'], has_tab) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            {{ form_helper.render_groups(admin, form, admin.formtabs['default'].groups, has_tab) }}
        {% endif %}
    </div>
{% endblock %}