<ul class="todo-list m-t ui-sortable">
    {% for comment in comments %}
        <li>
            <small class="label label-primary"><i class="fa fa-clock-o"></i>
                {{ comment.createdAtDateTimeString }}
            </small>
            <span class="m-l-xs">{{ comment.message }}</span>
            <a href="{{ path(route, {id: comment.id}) }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </li>
    {% endfor %}
</ul>