{% extends '@NssApp/twoColumnsPageLayout.html.twig' %}

{% block leftContent %}
    <div class="panel panel-default">
        <div class="panel-heading">СРО</div>
        <div class="panel-body">
            {% include '@NssSro/Includes/sro.html.twig' %}
        </div>
    </div>
{% endblock %}
{% block rightContent %}
    {% if is_granted('allow','action:order_create') %}
        <ul class="nav nav-tabs">
            <li {% if app.request.attributes.get('_route') == 'sro_view' %}class="active"{% endif %}><a href="{{ path('sro_view', {id: sro.id}) }}">О СРО</a></li>
            <li {% if app.request.attributes.get('_route') == 'sro_my_orders' %}class="active"{% endif %} class=""><a href="{{ path('sro_my_orders', {id: sro.id}) }}">Заявления</a></li>
        </ul>
        <br>
    {% endif %}
    {% block sroContent ''%}

{% endblock %}