<table class="table table-striped">
    <thead>
    <tr>
        <th>Дата и время</th>
        <th>Событие</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for record in records %}
            {% if record.type == constant('Nss\\Bundle\\HistoryBundle\\Entity\\TransitionRecord::TYPE') %}
                <tr>
                    <td>
                        {{ record.createdAtDateTimeString }}
                    </td>
                    <td>
                        {{ record.typeName }}
                    </td>
                    <td>
                        <s>{{ record.transition.currentStatus.name }}</s> <i class="fa fa-angle-double-right" aria-hidden="true"></i> {{ record.transition.transitionStatus.name }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td>
                        {{ record.createdAtDateTimeString }}
                    </td>
                    <td>
                        {{ record.typeName }}
                    </td>
                    <td>

                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>