<div class="feed-activity-list order-message-list">
    {% for message in messages %}
        <div class="feed-element">
            <div class="media-body ">
                <strong>{{ message.sender.username }}</strong> &nbsp;
                <small class="text-muted">{{ message.createdAtDateTimeString }}</small>
                <div class="well">
                   {{ message.message }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{{ form(form) }}