{% extends '@NssApp/simplePageLayout.html.twig' %}

{% set title = 'Уведомления' %}

{% block pageLayout %}
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Ваши уведомления</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#">Config option 1</a>
                        </li>
                        <li><a href="#">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content inspinia-timeline">
                {% for notification in notifications %}
                    <div class="timeline-item">
                        <div class="row">
                            <div class="col-xs-3 date">
                                <i class="fa fa-briefcase"></i>
                                {{ notification.createdAt|date('d.m.Y') }}
                                <br>
                                <small class="text-navy">{{ notification.createdAt|date('H:i') }}</small>
                            </div>
                            <div class="col-xs-7 content {% if loop.first %}no-top-border{% endif %}">
                                <p class="m-b-xs">
                                    <strong> {{ notification.title }}</strong>
                                </p>
                                <p>
                                    {{ notification.text }}
                                </p>
                                <p>
                                    {% if notification.readAt %}
                                        Прочтено {{ notification.readAt|date('d.m.Y H:i') }}
                                    {% else %}
                                        <a class="btn btn-xs btn-primary" href="{{ path('notification_read', {id:notification.id}) }}">Подтвердить</a>
                                    {% endif %}
                                </p>
                                <p>
                                    <a class="btn btn-xs btn-primary" href="{{ path('order_view', {id: notification.subjectId }) }}">Перейти к заявке</a>
                                </p>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}