{% if notifications|length  %}
    <li class="dropdown">
        <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
            <i class="fa fa-bell"></i>  <span class="label label-primary">{{ notifications|length }}</span>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            {% for notification in notifications %}
                <li>
                    {% if is_granted('allow', 'action:order_view_my') %}
                        <a href="{{ path('order_view', {id: notification.subjectId }) }}">
                    {% elseif is_granted('allow', 'action:moderation_view_all') %}
                        <a href="{{ path('moderation_view', {id: notification.subjectId }) }}">
                    {% endif %}
                        <div>
                            {% spaceless %}
                                <i class="fa fa-envelope fa-fw"></i>
                                {{ notification.title }}
                                <span class="pull-right text-muted small">{{ notification.createdAt|date('d.m.y H:i') }}</span>
                            {% endspaceless %}
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
            {% endfor %}
            <li>
                <div class="text-center link-block">
                    <a href="{{ path('notification') }}">
                        <strong>Все уведомления</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </li>
        </ul>
    </li>
{% endif %}