
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {% for contact in contacts %}
            {% include '@NssContact/Includes/contact2.html.twig' %}
        {% endfor %}
    </div>
</div>