<table class="table">
    <tr>
        <td><i class="fa fa-user-o" aria-hidden="true"></i></td>
        <td>{{ contact.fio }}</td>
    </tr>
    {% if contact.phone %}
        <tr>
            <td><i class="fa fa-phone" aria-hidden="true"></i></td>
            <td>{{ contact.phone }}</td>
        </tr>
    {% endif %}
    {% if contact.email %}
        <tr>
            <td><i class="fa fa-at" aria-hidden="true"></i></td>
            <td>{{ contact.email }}</td>
        </tr>
    {% endif %}
</table>