<div class="col-lg-4">
    <div class="contact-box">
        <a href="{{ path('contact_view', {id:contact.id}) }}">
            <div class="col-sm-12">
                <h3><strong>{{ contact.fio }}</strong></h3>
                <address>
                    <i class="fa fa-at" aria-hidden="true"></i> {{ contact.email }} <br>
                    <i class="fa fa-phone" aria-hidden="true"></i> {{contact.phone }}
                </address>
            </div>
            <div class="clearfix"></div>
        </a>
    </div>
</div>