{% extends '@NssOrder/Document/view.html.twig' %}

{% block tools %}
    {% include '@NssModeration/Index/indexButtons.html.twig' with {
    row: order
    } %}
{% endblock %}

{% block tabs %}
    {% include '@NssModeration/Includes/tabs.html.twig'%}
{% endblock %}