{% extends '@NssApp/twoColumnsPageLayout.html.twig' %}

{% set pageTitle = 'Контакты' %}

{% block tools %}
    <a href="{{ path('contact_create',{orgid: organization.id}) }}" class="btn btn-link">
        <span class="glyphicon glyphicon-plus"></span>
        добавить
    </a>
{% endblock %}

{% block tabs %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            {% include '@NssOrganization/Includes/tabs.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block leftContent %}
    <div class="panel panel-default">
        <div class="panel-heading">Организация</div>
        <div class="panel-body">
            {% include '@NssOrganization/Includes/organization.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block rightContent %}
    {% include '@NssContact/Includes/contact2Collection.html.twig' %}

    {% include '@ITSymfonyDataTable/total.count.html.twig' %}
    {{ knp_pagination_render(contacts) }}
{% endblock %}