<ul>
    {% set orders = orderGetLastByUserOrganization(app.user, row, 2)  %}
    {% for order in orders%}
        {% if checker('workflow').isActionAllowed(order, 'order_view_my')%}
            <li>
                <a href="{{ path('order_view', {id: order.id}) }}">#{{ order.id }} {{ order.type.name }}</a>
                <span class="label label-primary">{{ order.status.name }}</span>
            </li>
        {% endif %}
    {% endfor %}
    {% if orders|length %}
    <li>
        <a href="{{ path('order_my',{'o.inn': row.inn}) }}">все заявки</a>
    </li>
    {% endif %}
</ul>
