{% extends '@NssApp/twoColumnsPageLayout.html.twig' %}

{% set pageTitle = 'Заявки' %}

{% block tabs %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            {% include '@NssOrganization/Includes/tabs.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block leftContent %}
    <div class="panel panel-default">
        <div class="panel-heading">Организация</div>
        <div class="panel-body">
            {% include '@NssOrganization/Includes/organization.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block rightContent %}
    {% include '@NssOrder/Includes/orderCollection.html.twig' %}

    {% include '@ITSymfonyDataTable/total.count.html.twig' %}
    {{ knp_pagination_render(orders) }}
{% endblock %}

{% block javascripts%}
    {{ parent() }}

    {% javascripts "@NssOrderBundle/Resources/public/scripts.js" %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}