{% extends '@NssApp/twoColumnsPageLayout.html.twig' %}

{% set pageTitle = 'Информация' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
        "@inspinia_plugin_tree_css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block tabs %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            {% include '@NssOrganization/Includes/tabs.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block leftContent %}
    <div class="panel panel-default">
        <div class="panel-heading">Организация</div>
        <div class="panel-body">
            {% include '@NssOrganization/Includes/organization.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block rightContent %}

    <div class="panel panel-default">
        <div class="panel-heading">Информация из Seldon</div>
        <div class="panel-body">
            {% if organization.seldonData %}
                <div class="alert alert-info">
                    Используйте двойной клик для перемещения по дереву
                </div>
                <div id="jstree">
                    {{ organization.seldonData|seldon_formatter_to_string }}
                </div>
            {% else %}
                Данные не синхронизированы
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block javascripts%}
    {{ parent() }}

    {% javascripts
        "@NssOrderBundle/Resources/public/scripts.js"
        "@inspinia_plugin_tree_js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(document).ready(function(){
            $('#jstree').jstree({
                'core' : {
                    'check_callback' : false
                },
                'plugins' : [ 'types', 'wholerow' ],
                'types' : {
                    'default' : {
                        'icon' : 'fa fa-folder'
                    },
                    'folder' : {
                        'icon' : 'fa fa-folder'
                    },
                    'file' : {
                        'icon' : 'fa fa-file'
                    }
                }
            });
        })
    </script>

{% endblock %}