{% extends '@NssOrder/layout.html.twig' %}

{% block content %}
    {{ dtViewTablePaginated(filters, pagination, [
        {label: '#', property: 'id'},
        {field:'ot.id', label: 'Тип', property: 'type.name'},
        {field:'c.fio', label: 'ФИО', property: 'contact.fio'},
        {field:'o.createdAt', label: 'Дата создания', property: 'createdAtDateString'},
        {field:'org.inn', label: 'ИНН', property: 'contact.organization.inn'},
        {field:'s.id', label: 'СРО', property: 'sro.name'},
        {field:'s.id', label: 'Статус', property: 'sro.name'},
        {field:'os.id', label: 'Статус', property: 'status.name'},
        {field:'c.phone', label: 'Телефон', property: 'contact.phone'},
        {field:'c.email', label: 'Email', property: 'contact.email'},
        {template: 'NssModerationBundle:Index:indexButtons.html.twig', tdAttr:{ class: 'restrict-selectable'}}
    ],
    {
        route: {
        path : 'moderation_view',
        properties:['id']
    },
        tableAttr: {
        class: 'table table-striped table-selectable'
    }
    }
    ) }}
{% endblock %}