{% set transitions = workflowTransitions(row, app.user) %}
<div class="btn-group" style="width: 140px">
    {% if transitions|length%}
        <div class="btn-group ropdown-menu-right">
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Статус <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for transition in transitions %}
                    <li>
                        <a href="{{ path('order_workflow_transition',{order_id: row.id, transition_id: transition.id}) }}">
                            <span class="glyphicon glyphicon-arrow-right"></span>
                            {{ transition.transitionStatus.actionName }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if checker('workflow').isActionAllowed(row, 'moderation') %}
        <a href="{{ path('moderation_edit', {id: row.id}) }}" class="btn btn-sm btn-default">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    {% endif %}
</div>