{% if wo_breadcrumbs()|length %}
    {%- spaceless -%}
        <ol class="breadcrumb" style="padding: 10px">
            <li>
                <a href="{{ path('app') }}"><i class="fa fa-home" aria-hidden="true"></i></a>
            </li>
            {% for b in breadcrumbs %}
                <li{% if itemClass is defined and itemClass|length %} class="{{ itemClass }}"{% endif %}>
                    {% if b.url and not loop.last %}
                    <a href="{{ b.url }}">
                        {% endif %}
                        {{- b.text | trans(b.translationParameters, translation_domain, locale) -}}
                        {% if b.url and not loop.last %}
                    </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ol>
    {%- endspaceless -%}
{% endif %}
