<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>{% block title %}НСС{% endblock %}</title>

        {% stylesheets filter='cssrewrite'
            "@inspinia_css"
            "@inspinia_less"
            "@NssAppBundle/Resources/less/style.less"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% block stylesheets ''%}

        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/nssapp/img/favicon.ico') }}" />

    </head>

    <body class="skin">
        <div id="wrapper">
            {#LEFT SIDE MENU#}
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    {{ knp_menu_render('main', {template: 'NssAppBundle::menu.html.twig'}) }}
                </div>
            </nav>
            {#PAGE#}
            <div id="page-wrapper" class="gray-bg">
                {#TOP MAIN MENU#}
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            
                        </div>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <span class="m-r-sm text-muted welcome-message">Добро пожаловать в личный кабинет НСС</span>
                            </li>

                            {{ render(controller(
                                'NssNotificationBundle:Notification:unread'
                            )) }}

                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out"></i> Выход
                                </a>
                            </li>
                        </ul>

                    </nav>
                </div>
                {#PAGE HEADER#}
                <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>
                        {% if title is defined %}
                            {{ title }}
                        {% endif %}
                        </h2>
                        {% block breadcrumb %}
                            {{ wo_render_breadcrumbs() }}
                        {% endblock %}
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div>

                {% block alerts %}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p>
                                {{ flashMessage|trans({}, domain|default('messages')) }}
                            </p>
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger alert-dismissible fade in" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <p>
                                {{ flashMessage|trans({}, domain|default('messages')) }}
                            </p>
                        </div>
                    {% endfor %}
                {% endblock %}

                <div class="wrapper wrapper-content">
                    <div class="row animated fadeInRight">
                        {% block pageLayout ''%}
                    </div>
                </div>

                {#FOOTER#}
                <div class="footer">
                </div>
            </div>
        </div>
    </body>

    {% javascripts
        "@inspinia_js"
        "@ITSymfonyDataTableBundle/Resources/public/scripts.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts '' %}

</html>