{% extends '@NssApp/layout.html.twig' %}

{% block pageLayout%}

    {% block beforeContent '' %}

    <div class="ibox">
        <div class="ibox-title">
            {% if pageTitle is defined %}
                <h5>{{ pageTitle }}</h5>
            {% endif %}
            <div class="ibox-tools">
                {% block tools '' %}
            </div>
        </div>
        <div id="ibox-content" class="ibox-content">
            {% block tabs '' %}
            {% block content '' %}
        </div>
    </div>

    {% block afterContent '' %}

{% endblock %}