{% extends '@NssApp/simplePageLayout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-3">
           {%  block leftContent '' %}
        </div>
        <div class="col-sm-9">
            {%  block rightContent '' %}
        </div>
    </div>
{% endblock %}