.dropdown-menu-right {
  margin-right: 0;
  .dropdown-menu{
    left: auto;
    right: 0;
  }
}
#side-menu{
  text-decoration: none;
}

.table-selectable{
  tr[data-href]:hover td:not(.restrict-selectable){
    background-color: #d7d7d7;
    cursor: pointer;
  }
}