{% extends '@NssApp/simplePageLayout.html.twig' %}

{% block tools %}
    {% if is_granted('allow','action:order_create') %}
        <a href="{{ path('order_create') }}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus"></span>
            Создать заявление
        </a>
    {% endif %}
{% endblock %}