{% extends '@NssApp/twoColumnsPageLayout.html.twig' %}

{% set title = 'Карточка заявки'  %}
{% set pageTitle = 'Заявка #' ~ order.id  %}

{% block stylesheets %}
    {% stylesheets "@NssOrderBundle/Resources/less/style.less" %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block tabs %}
    {% include '@NssOrder/Includes/tabs.html.twig' %}
    <br>
{% endblock %}

{% block tools %}
    {% include '@NssOrder/Index/indexButtons.html.twig' with {
        row: order
    }%}
{% endblock %}

{% block leftContent %}

    <div class="panel panel-default">
        <div class="panel-heading">Заявка</div>
        <div class="panel-body">
            <table class="table">
                <tr>
                    <th>Статус</th>
                    <td><span class="label label-primary">{{ order.status.name }}</span></td>
                </tr>
                <tr>
                    <th>Тип</th>
                    <td>{{ order.type.name }}</td>
                </tr>
                <tr>
                    <th>Дата создания</th>
                    <td>{{ order.createdAtDateTimeString }}</td>
                </tr>
            </table>
        </div>
    </div>

     <div class="panel panel-default">
        <div class="panel-heading">Клиент</div>
        <div class="panel-body">
            {% include '@NssContact/Includes/contact.html.twig' with {
            contact: order.contact
            } %}
        </div>
     </div>

    <div class="panel panel-default">
        <div class="panel-heading">СРО</div>
        <div class="panel-body">
            {% include '@NssSro/Includes/sro.html.twig' with {
                sro: order.sro
            } %}
        </div>
    </div>

{% endblock %}

{% block rightContent %}

    {% include '@NssOrder/Includes/serviceCollection.html.twig' %}

    <div class="panel blank-panel">
        <div class="panel-heading">
            <div class="panel-options">
                <ul class="nav nav-tabs" id="order-nav-tabs">
                    <li class="active"><a href="#messages" data-toggle="tab"><i class="fa fa-envelope-o" aria-hidden="true"></i> Сообщения</a></li>
                    <li><a href="#history" data-toggle="tab"><i class="fa fa-history" aria-hidden="true"></i> Истоия</a></li>
                    <li><a href="#comments" data-toggle="tab"><i class="fa fa-commenting-o" aria-hidden="true"></i> Комментарии и заметки</a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active" id="messages">
                    {{ render_hinclude(path('order_rest_message', {id: order.id})) }}
                </div>
                <div class="tab-pane" id="history">
                    {{ render_hinclude(path('order_rest_history', {id: order.id})) }}
                </div>
                <div class="tab-pane" id="comments">
                    {{ render_hinclude(path('order_rest_comment', {id: order.id})) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    "@hinclude_js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    <script>
        $(function () {
            var hashTab = window.location.hash;
            if (hashTab != '') {
                $('#order-nav-tabs a[href="' + hashTab + '"]').tab('show');
                $(hashTab).addClass('active');
            }
        });
    </script>
{% endblock %}