{% extends '@NssApp/twoColumnsPageLayout.html.twig' %}

{% set pageTitle = 'Реквизиты' %}

{% block tools %}
    <a href="{{ path('organization_detail_create',{id: organization.id}) }}" class="btn btn-link">
        <span class="glyphicon glyphicon-plus"></span>
        добавить
    </a>
{% endblock %}

{% block tabs %}
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-9">
            {% include '@NssOrganization/Includes/tabs.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block leftContent %}
    <div class="panel panel-default">
        <div class="panel-heading">Организация</div>
        <div class="panel-body">
            {% include '@NssOrganization/Includes/organization.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block rightContent %}

    {% include '@NssOrganization/Includes/detailCollection.html.twig' %}
{% endblock %}