{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="box box-primary">
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped sonata-ba-list">
                        <thead>
                            <tr>
                                <td></td>
                                {% for orderType in orderTypes %}
                                    <th>
                                        {{ orderType.name }}
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for sro in sroList %}
                                <tr>
                                    <td class="text-center">
                                        {{ sro.name }}
                                        <br>
                                        ({{ sro.registrationNumber }})
                                    </td>
                                    {% for orderType in orderTypes %}
                                        <td>
                                            <ul class="list-unstyled">
                                                {% set templates = templateOrderModelRepo.getEnabledByType(orderType) %}
                                                {% for template in templates %}
                                                    <li>
                                                        {% set srOrderModel = sroOrderModelRepo.getBySroAndTemplateOrderModel(sro,template) %}
                                                        <input class="sro-template-toggle" data-sro-id="{{ sro.id }}"
                                                               data-template-id="{{ template.id }}"
                                                               data-enable-url="{{ path('admin_rest_enable_template_order_model', {template_id: template.id, sro_id: sro.id}) }}"
                                                               data-disable-url="{{ path('admin_rest_disable_template_order_model', {template_id: template.id, sro_id: sro.id}) }}"
                                                               {% if srOrderModel and srOrderModel.enabled%}
                                                                    checked="checked"
                                                               {% endif %}
                                                               type="checkbox"
                                                        />
                                                        &nbsp;{{ template.title }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor  %}
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {

            $('.sro-template-toggle').on('ifChanged', function(){
                toggleTemplate($(this))
            });
        });

        function toggleTemplate($element)
        {
            var url;

            if ($element.prop('checked')) {
                url = $element.data('enable-url');
            } else {
                url = $element.data('disable-url');
            }
            $.get(url, function (response) {
                if(response.error) {
                    alert( "При обработке вашего запроса произошла ошибка" );
                }
            }, "json").fail(function() {
                alert( "Невозможно соединиться с сервером" );
            })
        }

    </script>
{% endblock %}