<div class="vote-item">
    <div class="row">
        <div class="col-md-6">
            <div class="vote-actions">
                <br>
                #{{ order.id }}
            </div>
            <a href="{{ path('order_view', {id: order.id}) }}" class="vote-title">
                {{ order.type.name }}, ИНН {{ order.contact.organization.inn }}; {{ order.sro.shortName }} - {{ order.sro.sroType.name  }}
            </a>
            <div class="vote-info">
                {{  order.createdAtDateTimeString }}
                <div>
                    <strong>Условия</strong>: {{ order.rewardTotal|order_money_format }}<br>
                    <strong>Вознаграждение</strong>: {{ order.conditionTotal|order_money_format }}<br>
                    <strong>Контакт</strong>:
                    <a href="{{ path('contact_view', {id: order.contact.id}) }}">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        {{ order.contact.fio }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <i class="fa fa-history" aria-hidden="true"></i>
            {% for record in historyOrderRecords(order,1) %}
                {{ record.createdAtDateTimeString }} {{ record.typeName }}
            {% endfor %}
        </div>
        <div class="col-md-2 ">
            <span class="label label-primary"> {{ order.status.name }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="hidden" id="order-{{ order.id }}-options">
                {% include '@NssOrder/Includes/serviceCollection.html.twig' %}
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="order-options-toggle" data-target="#order-{{ order.id }}-options" href="#"><i class="fa fa-angle-double-down" aria-hidden="true"></i> Подробнее <i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
    </div>
</div>