<table class="table">
    <thead>
    <tr>
        <th>Услуга</th>
        <th>Значение</th>
        <th>Условие</th>
        <th>Вознаграждение</th>
    </tr>
    </thead>
    <tbody>
    {% for service in order.services %}
        <tr>
            <td>{{ service.baseService.name }}</td>
            <td>{{ service.option.baseOption.name }}</td>
            <td>
                {% if service.option.condition %}
                    {{ service.option.condition.value|order_money_format }}
                {% endif %}
            </td>
            <td>
                {% if service.option.reward %}
                    {{ service.option.reward.value|order_money_format }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td></td>
        <td class="text-right">
            <strong>Итого</strong>
        </td>
        <td>
            {{ order.conditionTotal|order_money_format }}
        </td>
        <td>
            {{ order.rewardTotal|order_money_format }}
        </td>
    </tr>
    </tbody>
</table>