<ul class="nav-order-steps nav nav-pills">
    <li role="presentation" {% if app.request.attributes.get('_route') in ['order_form_edit', 'order_view'] %} class="active"{% endif %}>
        <a href="{{ path('order_view', {id: order.id}) }}">Заявка</a>
    </li>
    <li role="presentation"  {% if app.request.attributes.get('_route') in ['order_document_input_edit','order_document_input_view'] %} class="active"{% endif %}>
        {% if  checker('workflow').isActionAllowed(order, 'order_edit_my') %}
            <a href="{{ path('order_document_input_edit', {id: order.id}) }}">Входящие документы</a>
        {% else %}
            <a href="{{ path('order_document_input_view', {id: order.id}) }}">Входящие документы</a>
        {% endif %}
    </li>
    <li role="presentation"  {% if app.request.attributes.get('_route') in ['order_document_output_edit','order_document_output_view'] %} class="active"{% endif %}>
        <a href="{{ path('order_document_output_view', {id: order.id}) }}">Исходящие документы</a>
    </li>
</ul>