.order-create-form{
  .order-service{
    &.choice-type{
      .condition,
      .reward{
        vertical-align: middle;
      }
    }
  }
}
.order-message-list{
  max-height: 400px;
  overflow-y: scroll;
}

.skin-2 .nav-order-steps.nav > li.active > a {
    color: white;
}