{% if checker('workflow').isActionAllowed(order, 'moderation_view_all') %}
    <ul class="nav-order-steps nav nav-pills">
        <li role="presentation" {% if app.request.attributes.get('_route') in ['moderation_edit','moderation_view'] %} class="active"{% endif %}>
            <a href="{{ path('moderation_view', {id: order.id}) }}">Заявка</a>
        </li>
        <li role="presentation"  {% if app.request.attributes.get('_route') in ['moderation_document_input_view'] %} class="active"{% endif %}>
            <a href="{{ path('moderation_document_input_view', {id: order.id}) }}">Входящие документы</a>
        </li>
        <li role="presentation"  {% if app.request.attributes.get('_route') in ['moderation_document_output_view','moderation_document_output_edit'] %} class="active"{% endif %}>



            {% if checker('workflow').isActionAllowed(order, 'moderation') %}
                <a href="{{ path('moderation_document_output_edit', {id: order.id}) }}">Исходящие документы</a>
            {% else %}
                <a href="{{ path('moderation_document_output_view', {id: order.id}) }}">Исходящие документы</a>
            {% endif %}
        </li>
    </ul>
    <br>
{% endif %}