<table class="table">
    <tr>
        <td><i class="fa fa-university"></i></td>
        <td>{{ sro.name }}</td>
    </tr>
    <tr>
        <th><i class="fa fa-map-marker" aria-hidden="true"></i></th>
        <td>{{ sro.subject.labelName }}</td>
    </tr>
    <tr>
        <th>рег. номер</th>
        <td>{{ sro.registrationNumber }}</td>
    </tr>
    <tr>
        <th>тип</th>
        <td>{{ sro.sroType.name }}</td>
    </tr>
    {% for contact in sro.contacts %}
        <tr>
            <td><i class="fa fa-user-o" aria-hidden="true"></i></td>
            <td>{{ contact.fio }}</td>
        </tr>
        {% if  contact.phone %}
            <tr>
                <td><i class="fa fa-phone" aria-hidden="true"></i></td>
                <td>{{ contact.phone }}</td>
            </tr>
        {% endif %}
        {% if contact.email %}
            <tr>
                <td><i class="fa fa-at" aria-hidden="true"></i></td>
                <td>{{ contact.email }}</td>
            </tr>
        {% endif %}
    {% endfor %}
</table>