{% extends '@NssApp/simplePageLayout.html.twig' %}

{% block stylesheets %}
    {% stylesheets "@inspinia_plugin_toastr_css" %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block tools %}
    {% if is_granted('allow','action:contact_my') %}
        <a class="btn-primary btn-sm btn btn-sm" href="{{ path('contact_create') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Создать контакт
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="sk-spinner sk-spinner-double-bounce">
        <div class="sk-double-bounce1"></div>
        <div class="sk-double-bounce2"></div>
    </div>
    {{ form_start(form) }}
        {{ form_row(form.inn) }}
        {{ form_row(form.sroType) }}
        {{ form_row(form.sro) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        "@inspinia_plugin_toastr_js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}


    <script>
        $(document).ready(function () {

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "preventDuplicates": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "400",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            var $iboxContent = $('#ibox-content');

            $('#create_sroType').change(function(){
                $('#order-create').submit();
            });

            $('#create_inn').change(function () {
                getByInn($(this).val());
            });


            function getByInn(inn) {
                $iboxContent.addClass('sk-loading');
                $.ajax({
                    url: '{{ path('contact_rest_check_inn_toastr') }}',
                    data: {inn: inn},
                    success:  function(response){
                        eval(response.toastr);
                    },
                    error:function()
                    {
                        toastr.error('Ошибка соединения с сервером')
                    },
                    complete:function()
                    {
                        $iboxContent.removeClass('sk-loading');
                    },
                    dataType: 'json'
                });
            }

        });


    </script>
{% endblock %}