{% extends '@NssOrder/Form/type.html.twig' %}

{% set title = 'Карточка заявки' %}
{% set pageTitle = 'Редактирование заявления #' ~ order.id %}

{% block tabs %}
    {% include '@NssOrder/Includes/tabs.html.twig' %}
    <br>
{% endblock %}