{% extends '@NssApp/twoColumnsPageLayout.html.twig' %}
{% import '@NssOrder/Macro/service_types.html.twig' as types %}

{% block tabs %}
    {{ knp_menu_render('orderMenuTabs', {template: 'NssAppBundle::tabs.html.twig'}) }}
    <br>
    <ul class="nav-order-steps nav nav-pills">
        <li class="active" role="presentation"><a href="#">Шаг 1. Заявка</a></li>
        <li role="presentation"><a href="#">Шаг2. Документы</a></li>
    </ul>
    <br>
{% endblock %}

{% block beforeContent %}
    {{ form_start(form) }}
{% endblock %}

{% block leftContent %}
    <div class="panel panel-default">
        <div class="panel-heading">Клиент</div>
        <div class="panel-body">

            <table class="table">
                <tr>
                    <th>Клиент</th>
                    <td>
                        {% if organization.fullName %}
                            {{ organization.fullName }}
                        {% else %}
                            {{ organization.shortName }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>ИНН</th>
                    <td>{{ organization.inn }}</td>
                </tr>
            </table>

            {{ form_row(form.contactSelectOrCreate) }}
            <div id="select-order-contact" class="hide">
                {{ form_row(form.contact) }}
            </div>
            <div id="create-order-contact" class="hide">
                {{ form_row(form.orderContact) }}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">СРО &laquo;{{ sro.name }}&raquo;</div>
        <div class="panel-body">
            <p>тип: {{ sro.sroType.name }}</p>
        </div>
    </div>
{% endblock %}

{% block rightContent %}
    <table class="table table-striped order-create-form">
        <thead>
        <tr>
            <th>Услуга</th>
            <th>Условие</th>
            <th>Вознаграждение</th>
        </tr>
        </thead>
        <tbody>
        {% for service in form.services %}
            {{ types.renderType(service) }}
        {% endfor %}
        <tr>
            <td><strong>Итого</strong></td>
            <th id="order-calculation-condition"></th>
            <th id="order-calculation-reward"></th>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-4">
            {{ form_widget(form.submit) }}
        </div>
        <div class="col-md-4">
            {{ form_widget(form.submit_and_document) }}
        </div>
    </div>

{% endblock %}

{% block afterContent %}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {% stylesheets "@NssOrderBundle/Resources/less/style.less" %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ types.renderJS() }}
    <script>
        $(document).ready(function () {
            $('input[name="order[contactSelectOrCreate]"]').click(renderCreateContact);
            $('.recalculation').change(updateCalculations);

            renderCreateContact();
            updateCalculations();
        });

        function renderCreateContact() {
            if ($('input[name="order[contactSelectOrCreate]"]:checked').val() == '2') {
                $('#create-order-contact').removeClass('hide');
                $('#select-order-contact').addClass('hide');

            } else {
                $('#create-order-contact').addClass('hide');
                $('#select-order-contact').removeClass('hide');
            }
        }
        
        function updateCalculations() {

            var id = [];

            $('.recalculation').each(function (num,element) {
                var optionModelId = $(this).val();

                if (parseInt(optionModelId)){
                    id.push(parseInt(optionModelId));
                }
            });

            $.post({
                dataType:'json',
                url:'{{ path('calculator_option_model') }}',
                data: {
                    id: id,
                    userId: {% if order is defined %}{{ order.owner.id }}{% else %}{{ app.user.id }}{% endif %}
                },
                success: function(response) {
                    var totalRewards = new Number(response.totalRewards);
                    var totalCondition = new Number(response.totalCondition);

                    $('#order-calculation-reward').html(response.totalRewards.toLocaleString('ru-RU', { style: 'decimal', minimumFractionDigits:2 }) + ' руб');
                    $('#order-calculation-condition').html(response.totalCondition.toLocaleString('ru-RU', { style: 'decimal', minimumFractionDigits:2 }) + ' руб');
                },
                error: function () {
                    alert('Произошла ошибка');
                }
            })
        }
    </script>
{% endblock %}