{% extends '@NssApp/simplePageLayout.html.twig' %}

{% block stylesheets %}
    {% stylesheets "@inspinia_plugin_toastr_css" %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="sk-spinner sk-spinner-double-bounce">
        <div class="sk-double-bounce1"></div>
        <div class="sk-double-bounce2"></div>
    </div>
   {{ form(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    "@inspinia_plugin_toastr_js"
    %}
   <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
   <script>
       $(document).ready(function () {

           toastr.options = {
               "closeButton": true,
               "debug": false,
               "progressBar": true,
               "preventDuplicates": false,
               "positionClass": "toast-top-right",
               "onclick": null,
               "showDuration": "400",
               "hideDuration": "1000",
               "timeOut": "7000",
               "extendedTimeOut": "1000",
               "showEasing": "swing",
               "hideEasing": "linear",
               "showMethod": "fadeIn",
               "hideMethod": "fadeOut"
           };

           var $iboxContent = $('#ibox-content');

           $('#organization_contact_organization_inn').change(function () {
               getByInn($(this).val());
           });


           function getByInn(inn) {
               $iboxContent.addClass('sk-loading');
               $.ajax({
                   url: '{{ path('contact_rest_check_inn_toastr') }}',
                   data: {inn: inn},
                   success:  function(response){
                       if(response.toastr != undefined) {
                           eval(response.toastr);
                       }
                       if (response.result) {
                            setFormData(response.data)
                       } else {
                            resetForm();
                       }
                   },
                   error:function()
                   {
                       toastr.error('Ошибка соединения с сервером')
                   },
                   complete:function()
                   {
                       $iboxContent.removeClass('sk-loading');
                   },
                   dataType: 'json'
               });
           }

           function setFormData(data) {
                $('#organization_contact_organization_fullName').val(data.fullName).attr('readonly','readonly');
                $('#organization_contact_organization_shortName').val(data.shortName).attr('readonly','readonly');
           }

           function resetForm() {
               $('#organization_contact_organization_fullName').val(null).attr('readonly', null);
               $('#organization_contact_organization_shortName').val(null).attr('readonly', null);
           }
       });

   </script>
{% endblock %}