{% extends '@NssApp/simplePageLayout.html.twig' %}

{% block tools %}
    {% if is_granted('allow','action:contact_my') %}
        <a class="btn-primary btn-sm btn btn-sm" href="{{ path('contact_create') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Создать контакт
        </a>
    {% endif %}
{% endblock %}

{% block tabs %}
    {% include '@NssOrganization/Includes/myTabs.html.twig' %}
    <br>
{% endblock %}

{% block content %}
    {{ dtViewTablePaginated(filters, pagination, [
        {label: '#', property: 'id'},
        {label: 'Клиент', field: 'o.fullName', property: 'organization.fullName'},
        {field: 'o.inn', label: 'ИНН', property: 'organization.inn'},
        {field: 'c.fio', label: 'ФИО', property: 'fio'},
        {field: 'c.phone', label: 'Телефон', property: 'phone'},
        {field: 'c.email', label: 'Email', property: 'email'},
        {label: 'Последние 2 заявки', template: 'NssContactBundle:Index:myOrders.html.twig', tdAttr:{ class: 'restrict-selectable'}},
        {template: 'NssContactBundle:Index:myButtons.html.twig', tdAttr:{ class: 'restrict-selectable'}}
    ],
    {
        route: {
            path : 'contact_view',
            properties:['id']
        },
            tableAttr: {
            class: 'table table-striped table-selectable'
        }
    }
    ) }}
{% endblock %}