<ul>
    {% for order in row.lastOrders(2) %}
        {% if checker('workflow').isActionAllowed(order, 'order_view_my')%}
            <li>
                <a href="{{ path('order_view', {id: order.id}) }}">#{{ order.id }} {{ order.type.name }}</a>
                <span class="label label-primary">{{ order.status.name }}</span>
            </li>
        {% endif %}
    {% endfor %}
    {% if row.orders.count > 2 %}
    <li>
        <a href="{{ path('order_my',{'c.fio': row.fio}) }}">все заявки ({{ row.orders.count }})</a>
    </li>
    {% endif %}
</ul>
