{% extends '@NssApp/twoColumnsPageLayout.html.twig' %}

{% set title = 'Карточка строителя' %}
{% set pageTitle = contact.fio ~ ' (ИНН  ' ~ contact.organization.inn ~')' %}

{% block tools %}
    <a href="{{ path('contact_edit', {id:contact.id}) }}">
        <span class="glyphicon glyphicon-edit"></span> редактировать
    </a>
{% endblock %}

{% block leftContent %}
    <div class="panel panel-default">
        <div class="panel-heading">Организация</div>
        <div class="panel-body">
            {% include '@NssOrganization/Includes/organization.html.twig' with {
                organization: contact.organization
            } %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Контакт</div>
        <div class="panel-body">
            {% include '@NssContact/Includes/contact.html.twig' %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Комментарии</div>
        <div class="panel-body">
            {{ render_hinclude(path('contact_rest_comment', {id: contact.id})) }}
        </div>
    </div>
{% endblock %}

{% block rightContent %}
    <h3>История заявлений</h3>

    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
    <div class="btn-group">
        {{ knp_pagination_sortable(pagination, 'По дате создания', 'o.createdAt', {class:'btn btn-link'}) }}
        {{ knp_pagination_sortable(pagination, 'По статусу', 'os.id', {class:'btn btn-link'}) }}
        {{ knp_pagination_sortable(pagination, 'По СРО', 's.id', {class:'btn btn-link'}) }}
    </div>

    {% include '@NssOrder/Includes/orderCollection.html.twig' with {
        orders: pagination
    } %}

    {% include '@ITSymfonyDataTable/total.count.html.twig' %}
    {{ knp_pagination_render(pagination) }}

{% endblock %}

{% block javascripts%}
    {{ parent() }}

    {% javascripts
    "@NssOrderBundle/Resources/public/scripts.js"
    "@hinclude_js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}