{% extends '@NssApp/simplePageLayout.html.twig' %}

{% block content %}

    {{ dtViewTablePaginated(filters, pagination, [
        {label: '#', property: 'id'},
        {field: 'st.id', label:'Тип', property: 'sroType.name'},
        {field: 'ss.id', label:'Субъект', property: 'subject.labelName'},
        {field: 's.name', label:'Название (полное)', property: 'name'},
        {field: 's.shortName', label:'Название', property: 'shortName'},
        {field: 's.registrationNumber', label:'Рег. номер', property: 'registrationNumber'},
        {label: 'Услуги', template: 'NssSroBundle:Index:indexServices.html.twig'},
        {template: 'NssSroBundle:Index:indexButtons.html.twig', tdAttr:{class:'restrict-selectable'}}
    ],
    {
        route: {
            path : 'sro_view',
            properties: ['id']
        },
            tableAttr: {
            class: 'table table-striped table-selectable'
        }
    }
    ) }}
{% endblock %}