{% extends '@NssSro/sroLayout.html.twig' %}

{% block sroContent %}
    <h3>История заявлений</h3>

    <span class="glyphicon glyphicon-sort-by-attributes-alt"></span>
    <div class="btn-group">
        {{ knp_pagination_sortable(pagination, 'По дате создания', 'o.createdAt', {class:'btn btn-link'}) }}
        {{ knp_pagination_sortable(pagination, 'По статусу', 'os.id', {class:'btn btn-link'}) }}
    </div>

    {% include '@NssOrder/Includes/orderCollection.html.twig' with {
        orders: pagination
    }%}

    {% include '@ITSymfonyDataTable/total.count.html.twig' %}
    {{ knp_pagination_render(pagination) }}
{% endblock %}

{% block javascripts%}
    {{ parent() }}

    {% javascripts
        "@NssOrderBundle/Resources/public/scripts.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}