{% extends '@NssSro/sroLayout.html.twig' %}

{% block sroContent %}
    <h3>Заявления СРО</h3>

    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% for orderModel in orderModels %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading_{{ loop.index }}">
                    <h4 class="panel-title">
                        <a style="display: block" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ loop.index }}" aria-expanded="true" aria-controls="collapse_{{ loop.index }}">
                            Заявление &laquo;{{ orderModel.title }}&raquo;
                            <span class="pull-right">
                                <i class="fa fa-angle-double-down" aria-hidden="true"></i>
                            </span>
                        </a>
                    </h4>
                </div>
                <div id="collapse_{{ loop.index }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_{{ loop.index }}">
                    <div class="panel-body list-group">
                        <div class="h4">Перечень услуг</div>

                        <table class="table">
                            {% for service in orderModel.actualServices %}
                                <tr>
                                    <td>{{ service.service.name }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% if is_granted('allow','action:order_create') %}
                            <p class="text-right">
                                <a class="btn btn-sm btn-primary" href="{{ path('order_create',{sro: sro.id}) }}">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Оформить заявление
                                </a>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
