<div class="contact-box">
    <div class="row">
        <div class="col-sm-9">
            <h3><strong>{{ detail.title }}</strong></h3>
                <table class="table">
                    <colgroup>
                        <col width="8%">
                        <col width="20%">
                        <col width="20%">
                        <col width="10%">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>БИК</th>
                            <td class="text-left">{{ detail.bic }}</td>
                            <th>Корреспондентский счет</th>
                            <td class="text-left">{{ detail.correspondentAccount }}</td>
                            <th>Расчетный счет </th>
                            <td class="text-left">{{ detail.checkingAccount }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
        <div class="col-sm-3">
            <a href="{{ path('organization_detail_edit', {id: detail.id}) }}">
                <span class="glyphicon glyphicon-edit"></span> редактировать
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>