<ul class="nav-order-steps nav nav-pills">
    <li {% if app.request.attributes.get('_route') == 'organization_my' %} class="active"{% endif %}>
        <a href="{{ path('organization_my') }}">Мои Организации</a>
    </li>
    <li {% if app.request.attributes.get('_route') == 'contact_my' %} class="active"{% endif %}>
        <a href="{{ path('contact_my') }}">Мои контакты</a>
    </li>
</ul>