<table class="table">
    <tr>
        <th>Клиент</th>
        <td>{{ organization.shortName }}</td>
    </tr>
    <tr>
        <th>ИНН</th>
        <td>{{ organization.inn }}</td>
    </tr>
</table>

{% if is_granted('allow','action:order_create') %}
    <div class="text-center">
        <a class="btn btn-primary" href="{{ path('order_create', {inn: organization.inn }) }}">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Оформить заявление
        </a>
    </div>
{% endif %}