<ul class="nav-order-steps nav nav-pills">
    <li {% if app.request.attributes.get('_route') == 'organization_view' %} class="active"{% endif %}>
        <a href="{{ path('organization_view', {id: organization.id}) }}">Информация</a>
    </li>
    <li {% if app.request.attributes.get('_route') == 'organization_order' %} class="active"{% endif %}>
        <a href="{{ path('organization_order', {id: organization.id}) }}">Заявления</a>
    </li>
    <li {% if app.request.attributes.get('_route') == 'organization_contact' %} class="active"{% endif %}>
        <a href="{{ path('organization_contact', {id: organization.id}) }}">Контакты</a>
    </li>
    <li {% if app.request.attributes.get('_route') == 'organization_detail' %} class="active"{% endif %}>
        <a href="{{ path('organization_detail', {id: organization.id}) }}">Реквизиты</a>
    </li>
</ul>