{% import _self as macro %}

{% macro renderItem(items, formatter) %}
    {% import _self as macro %}
    <ul>
        {% for key,item in items %}
            {% if item is iterable  %}
                {{ formatter.getFiledName(key) }} {{ macro.renderItem(item, formatter) }}
            {% else %}
                <li>{{ formatter.getFiledName(key) }} {{ item }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

{{ macro.renderItem(data, formatter)}}